/* Global styles */
body {
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;
}

.btn {
	border-radius: 12px;
	transition: filter 0.2s ease-in-out;
}

.btn:hover {
	filter: brightness(0.5);
}

.dark .btn:hover {
	filter: brightness(1.6);
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}