/* Global styles */
html, body { 
    @apply h-full overflow-hidden; 
}
body{
    padding-left: 20px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 8px;

}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}